!.terraform.lock.hcl
!.gitignore

**/__azurite__/
**/.*
__*
.venv/
venv/
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.auto.tfvars
local.settings.json
secrets.json
bin/
obj/
.scm/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.python_packages/
env/
pip-wheel-metadata/
.coverage
htmlcov/
